.contact-main {
  padding-top: 20px;
  h2 {
    @include fs-responsive($fs-resources-name);
    margin-bottom: 40px;
  }

  a {
    color: currentColor;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  .container--full {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0;
  }

  .contact-details {
    background: $clr-btn-gradient;
    padding: 60px 0 80px;
    ul {
      @include list-reset;

      li {
        line-height: 162%;
      }
    }
  }

  .contact-locations {
    background-color: $clr-malachite-deep;
    color: $clr-pearl;
    padding: 60px 0 80px;

    .location {
      padding-bottom: 28px;
      h3 {
        @include fs-responsive($fs-location-name);
        font-family: $f-epilogue;
        font-weight: 700;
        margin-bottom: 8px;
      }
      p {
        line-height: 162%;
        opacity: 0.7;
      }
    }
  }

  @include respond-min($bp-tablet-wide-med-min) {
    padding-top: 40px;

    h2 {
      margin-bottom: 44px;
    }

    &__inner {
      display: flex;
    }
    .contact-details {
      width: 35%;
    }
    .contact-locations {
      width: 65%;
    }
    .locations__wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .location {
      margin-right: 32px;
      width: calc(100% / 3 - 32px);
    }
  }

  @include respond-min(1456px) {
    &__inner {
      .contact-details {
        border-bottom-left-radius: $reduced-border-radius;
        border-top-left-radius: $reduced-border-radius;
      }
      .contact-locations {
        border-bottom-right-radius: $reduced-border-radius;
        border-top-right-radius: $reduced-border-radius;
      }
    }
  }
}
