.work-process {
  padding-bottom: 80px;
  padding-top: 60px;
}

.work-process__title {
  padding-bottom: 40px;
  h2 {
    @include fs-responsive($fs-h4);
  }
}
.work-process__diagram {
  overflow-x: auto;
  position: relative;

  .os-scrollbar-horizontal {
    position: absolute;
    top: 0;
    .os-scrollbar-track {
      &::after {
        background: rgba($clr-gray, 0.3);
        content: '';
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
    }
    .os-scrollbar-handle {
      background: $clr-malachite-deep !important;
      cursor: pointer;
      max-width: 30px;
      min-width: 30px;
    }
  }

  &-inner {
    display: flex;
    padding-bottom: 70px;
    padding-top: 50px;
    position: relative;
  }

  &-card {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    min-width: 165px;
    position: relative;
    text-transform: uppercase;
    &:nth-of-type(4) {
      img {
        height:87% !important;
      }
    }

    &:last-of-type {
      margin-right: 0;
      .work-process__diagram-card-heading {
        &::after {
          content: unset;
        }
      }
    }
    &--additional {
      .work-process__diagram-card-body {
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
      }
    }
  }

  &-card-heading {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    min-height: 40px;
    position: relative;
    width: 100%;
    &::after {
      background: $clr-btn-gradient;
      bottom: -23px;
      content: '';
      height: 1px;
      position: absolute;
      right: -15px;
      width: 15px;
      z-index: -1;
    }

    .info-card__icon {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      margin: 0;
      width: 100%;
      img {
        height: 100%;
        max-width: 100%;
        width: auto;
      }
    }
  }
  &-card-foot {
    bottom: 0;
    position: absolute;
    transform: translateY(50%);

    span {
      @include fs-responsive($fs-work-card-number);
      align-items: center;
      background-color: $clr-white;
      border: 1px solid;
      border-radius: 50%;
      color: $clr-malachite-deep;
      display: flex;
      font-family: $f-steradian-extra-light;
      height: 1em;
      justify-content: center;
      padding: 0.75em;
      width: 1em;
    }
  }

  &-card-body {
    border: 1px solid $clr-marigold;
    border-bottom-left-radius: $reduced-border-radius;
    border-bottom-right-radius: $reduced-border-radius;
    border-top-width: 5px;
    height: 100%;
    padding: 20px 10px 40px;
    width: 100%;

    h2 {
      @include fs-responsive($fs-work-diagram-card-title);
      font-weight: normal;
      line-height: 215%;
      text-align: center;
      span {
        font-family: $f-steradian-regular;
        letter-spacing: 0.16em;
        &:first-child {
          font-family: $f-steradian-bold;
        }
      }
    }
  }

  &-additional-steps {
    display: flex;
    margin-left: 10px;
    position: relative;
    .work-process__diagram-card {
      &:first-child {
        .work-process__diagram-card-heading {
          &::after {
            left: -10px;
            width: calc(100% + 20px);
          }
        }
      }
    }
  }

  &-additional-image {
    bottom: -35%;
    position: absolute;
    right: 0;
    width: 100%;
    img {
      height: auto;
      margin: 0 auto;
      width: 70%;
    }
  }
}
@include respond-min($bp-tablet-wide-med-min) {
  .work-process {
    padding-bottom: 180px;
    padding-top: 120px;
  }
}
