/*
  COLOURS
*/

// Base Colours
$clr-white: #ffffff;
$clr-black: #131313;

$clr-pearl: #f4f0ef;
$clr-malachite-light: #e6eaea;
$clr-malachite-medium: #1b4241;
$clr-malachite-deep: #022d2c;
$clr-marigold: #f6921e;
$clr-gray: #445353;
$clr-green-light: #0a7951;

$clr-btn-gradient: linear-gradient(95.12deg, #f6921e 0%, #f26f21 100%);
$clr-light-tangerine-gradient: linear-gradient(
  180deg,
  rgba(242, 111, 33, 0.6) 0%,
  rgba(242, 111, 33, 0.7) 100%
);
$clr-light-marigold-gradient: linear-gradient(
  180deg,
  rgba(246, 146, 30, 0.6) 0%,
  rgba(246, 146, 30, 0.7) 100%
);
