.team-members__spotlight {
  padding-bottom: 18px;
  grid-column: 1 / -1;
  .spotlight-member {
    max-width: 600px;

    // &:visited {
    //   color: inherit;
    // }

    &__info {
      color: $clr-white;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-height: 400px;
      overflow: hidden;
      position: relative;

      picture {
        aspect-ratio: 5/6;
        border-top-left-radius: $default-border-radius;
        border-top-right-radius: $default-border-radius;
        overflow: hidden;
        img {
          border-radius: inherit;
          height: 100%;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          transition: all 0.3s $default-bezier;
        }
        &::after {
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 64.58%,
            rgba(0, 0, 0, 0.8) 100%
          );
          border-radius: inherit;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
    .team-member-card__info {
      bottom: 0;
      left: 0;
      padding-bottom: 45px;
      padding-left: 32px;
      position: absolute;

      span {
        @include fs-static(11);
        display: block;
        font-family: $f-steradian-medium;
        line-height: 155%;
        padding-bottom: 10px;
        white-space: nowrap;
        &:before {
          background-color: $clr-white;
          border-radius: 50%;
          content: '';
          display: inline-block;
          font-size: 2em;
          height: 8px;
          margin-right: 6px;
          width: 8px;
        }
      }
    }
    &__questionnaire {
      background-color: $clr-malachite-light;
      border-bottom-left-radius: $default-border-radius;
      border-bottom-right-radius: $default-border-radius;
      padding: 28px 32px;
      h3 {
        @include fs-static(16);
        color: $clr-malachite-deep;
        margin-bottom: 32px;
        max-width: 355px;
      }
      p {
        @include fs-responsive($fs-spotlight-questionnaire);
        color: $clr-gray;
      }
    }
    &:after {
      border: 1px solid $clr-malachite-light;
      border-bottom-left-radius: $default-border-radius;
      border-bottom-right-radius: $default-border-radius;
      bottom: 34px;
      content: '';
      display: block;
      height: 68px;
      position: relative;
      width: calc(100% - 2px);
      z-index: -1;
    }
  }
  @include respond-min($bp-tablet-wide-med-min) {
    &:hover {
      .spotlight-member {
        &__meta h3::after {
          width: 100%;
        }
      }
    }
    padding-bottom: 80px;
    .spotlight-member {
      display: flex;
      max-width: none;
      &__info {
        border-bottom-left-radius: $default-border-radius;
        border-top-left-radius: $default-border-radius;
        max-height: none;
        width: 35%;
        picture {
          border-bottom-left-radius: $default-border-radius;
          border-top-left-radius: $default-border-radius;
          border-top-right-radius: 0;
        }
      }

      .team-member-card__info {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 40px;
        top: auto;
      }

      &__meta {
        margin-left: 20px;
        h3 {
          margin-right: 1em;
        }
      }

      &__questionnaire {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $default-border-radius;
        border-top-right-radius: $default-border-radius;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 60px 80px 60px;
        width: 65%;
      }
      &:after {
        border: 1px solid $clr-malachite-light;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $default-border-radius;
        border-top-right-radius: $default-border-radius;
        bottom: 0;
        flex: 0 0 68px;
        height: auto;
        margin-left: -34px;
        width: auto;
      }
    }
  }
}
